.tqwsb_banner {
    color: #ffffff;
    font-size: 1rem;
    background-color: #007bff;
    border-bottom: 1px solid lightslategray;
    padding: 1em 0.5em;
}

.tqwsb_banner h2 {
    font-size: 1em;
    font-weight: bold;
    display: inline;
}

.tqwsb_banner.tqwsb_warning {
    color: #000000;
    background-color: #ffc107;
}

.tqwsb_banner.tqwsb_danger {
    background-color: #dc3545;
}

.tqwsb_banner.tqwsb_success {
    background-color: #28a745;
}